In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import os
from functions import *

In [12]:
input_noise = 2
n_models = 40
n_metrics = 4

In [13]:
os.listdir('./results/')

['Beer']

In [14]:
path = './results/'
name = 'Beer/'

In [15]:
lnl = pd.read_csv(path + name + 'lnl.csv')
model1 = pd.read_csv(path + name + 'model1.csv')
model2 = pd.read_csv(path + name + 'model2.csv')
rbf = pd.read_csv(path + name + 'rbf.csv')
ffann = pd.read_csv(path + name + 'ffann.csv')
others = pd.read_csv(path + name + 'other.csv')
y = others['Y_true'].values
sarima = others['SARIMA'].values
# wmes = others['WMES'].values

In [63]:
lnl_metrics = np.array([[RMSE(y[input_noise + 1:], lnl.iloc[input_noise + 1:, i]) for i in range(n_models)],
                [MAPE(y[input_noise + 1:], lnl.iloc[input_noise + 1:, i]) for i in range(n_models)]])

model1_metrics = np.array([[RMSE(y[input_noise + 1:], model1.iloc[:, i]) for i in range(n_models)],
                [MAPE(y[input_noise + 1:], model1.iloc[:, i]) for i in range(n_models)]])

model2_metrics = np.array([[RMSE(y[input_noise + 1:], model2.iloc[input_noise:, i]) for i in range(n_models)],
                [MAPE(y[input_noise + 1:], model2.iloc[input_noise:, i]) for i in range(n_models)]])

ffann_metrics = np.array([[RMSE(y, ffann.iloc[:, i]) for i in range(n_models)],
                [MAPE(y, ffann.iloc[:, i]) for i in range(n_models)]])

rbf_metrics = np.array([[RMSE(y, rbf.iloc[:, i]) for i in range(n_models)],
                [MAPE(y, rbf.iloc[:, i]) for i in range(n_models)]])

sarima_metrics = np.array([RMSE(y, sarima), MAPE(y, sarima)])

# wmes_metrics = np.array([RMSE(y, wmes), MAPE(y, wmes), MdAPE(y, wmes), DA(y, wmes)])

In [72]:
rmse = [sarima_metrics[0],
           np.sort(ffann_metrics[0])[:30],
           np.sort(rbf_metrics[0])[:30],
           np.sort(lnl_metrics[0])[:30],
           np.sort(model1_metrics[0])[:30],
           np.sort(model2_metrics[0])[:30]]

In [79]:
model_names = ['SARIMA', 'FFANN', 'RBF', 'L&NL ANN', 'Model 1', 'Model 2']
df_metrics = pd.DataFrame(data= np.zeros((3, len(model_names))), index = ['Mean', 'Median', 'Minimum'],
                          columns= model_names)
df_metrics['SARIMA'] = rmse[0]
# df_metrics['WMES'] = wmes_metrics

# RMSE

In [90]:
for i, model in enumerate(rmse[1:]):
    df_metrics[model_names[i+1]] = [rmse[i+1].mean(), np.median(rmse[i+1]), rmse[i+1].min()]
df_metrics

           SARIMA     FFANN       RBF  L&NL ANN   Model 1   Model 2
Mean     0.153339  0.133254  0.110381  0.116069  0.110360  0.103082
Median   0.153339  0.136477  0.111333  0.112638  0.109447  0.101621
Minimum  0.153339  0.067615  0.073484  0.056764  0.056407  0.055318

# Statistical test (Friedman)

In [ ]:
from scipy.stats import friedmanchisquare

In [ ]:
friedmanchisquare(lnl_metrics[0, :], model1_metrics[0, :], model2_metrics[0, :])